<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Choose Your Bike!</title>
    <base href="/index.html">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta name="keywords" content="docker-compose, docker, stack">
    <meta name="author" content="Tutum dev team">
    <link rel='stylesheet' href="{{ url_for('static',filename='stylesheets/style.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="content-container">
      <div id="content-container-center">
        <h1>Get the best bike for your</h1>
        <form id="choice" name='form' method="POST" action="/">
	  <h8>Enter your id:</h8>
	  <input type="text" id="id" placeholder="Enter your ID" name="name_id" required>
	  <br><br>
	  <h8>Enter your budget in Euros:</h8>
	  <input type="text" id="budget" placeholder="Budget" name="budget">
	  <br><br>
	  <h8>Where do you ride</h8><br>
          <input id="a" type="radio" name="roadtype" class="a" value="a">{{option_a}}</input><br>
          <input id="b" type="radio" name="roadtype" class="b" value="b">{{option_b}}</input><br>
	  <input id="a" type="radio" name="roadtype" class="a" value="c">{{option_c}}</input>
	  <br><br>
	  <h8>What is your height</h8><br>
	  <input id="ha" type="radio" name="height" class="a" value="ha">{{height_a}}</input><br>
          <input id="hb" type="radio" name="height" class="b" value="hb">{{height_b}}</input><br>
	  <input id="hc" type="radio" name="height" class="a" value="hc">{{height_c}}</input>
	  <br><br>
	  <h8>How is the terrain where you ride</h8><br>
	  <input id="wa" type="radio" name="way" class="a" value="wa">{{way_a}}</input><br>
          <input id="wb" type="radio" name="way" class="b" value="wb">{{way_b}}</input><br>
	  <input id="wc" type="radio" name="way" class="a" value="wc">{{way_c}}</input><br>
	  <input id="wd" type="radio" name="way" class="b" value="wd">{{way_d}}</input>
	  <br><br>
	  <h8>What is you fitness level</h8><br>
	  <input id="wa" type="radio" name="fit" class="a" value="wa">{{fit_a}}</input><br>
          <input id="wb" type="radio" name="fit" class="b" value="wb">{{fit_b}}</input><br>
	  <input id="wC" type="radio" name="fit" class="a" value="wc">{{fit_c}}</input>
	  <br><br>
	  <button id="submit" type="submit" name="vote" class="a" value="wc">Submit</button>
	  <br>
        </form>
        <div id="tip">
          (Tip: you can change your vote)
        </div>
        <div id="hostname">
          Processed by container ID {{hostname}}
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    {% if vote %}
    <script>
      var vote = "{{vote}}";

      if(vote == "a"){
        $(".a").prop('disabled', true);
        $(".a").html('{{option_a}} <i class="fa fa-check-circle"></i>');
        $(".b").css('opacity','0.5');
      }
      if(vote == "b"){
        $(".b").prop('disabled', true);
        $(".b").html('{{option_b}} <i class="fa fa-check-circle"></i>');
        $(".a").css('opacity','0.5');
      }
    </script>
    {% endif %}
  </body>
</html>
